<!DOCTYPE html>
<html lang="en">
  <%- include ("./partials/head") %>

  <body class="chat">


		<div class="header-wrapper">
			<footer class="breadcrumb">
				<a href="/matches">&lt;-<span> Return to matches</span>	</a>
			</footer>
			<header>
				<h5 class="name"><%= user.firstName %> <%= user.lastName %></h5>
				<span class="status-indicator active"></span>
				<span class="type-indicator"><p></p></span>
    	</header>
		</div>

    <main class="chat-view">
      <ul class="chat-window container-lg">
				<% chats.forEach(chat => { %>
					<% if (chat.userId === loggedInUser._id) { %>
						<li class="chat-message sent active"><p><%= chat.message %></p></li>
					<% } else { %>
						<li class="chat-message received active"><p><%= chat.message %></p></li>
					<% } %>
				<% }) %>
			<ul>
		</main>

		<form action="/chat/<%= user._id %>/new" class="chat-form">
			<label for="message" hidden>Message to send</label>
			<div class="input-wrapper">
				<input
				type="text"
				id="message"
				name="message"
				placeholder="Type your message..."
			/>

			<input type="hidden" id="room-id" value="<%= roomId %>" />
			<input type="hidden" id="user-id" value="<%= loggedInUser._id %>" />
			<button type="submit" aria-label="Send message">
				<svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M0.293031 7.707C0.105559 7.51947 0.000244141 7.26516 0.000244141 7C0.000244141 6.73484 0.105559 6.48053 0.293031 6.293L6.29303 0.293C6.48056 0.105529 6.73487 0.000213623 7.00003 0.000213623C7.26519 0.000213623 7.5195 0.105529 7.70703 0.293L13.707 6.293C13.8892 6.4816 13.99 6.7342 13.9877 6.9964C13.9854 7.2586 13.8803 7.50941 13.6948 7.69482C13.5094 7.88023 13.2586 7.9854 12.9964 7.98767C12.7342 7.98995 12.4816 7.88916 12.293 7.707L8.00003 3.414V15C8.00003 15.2652 7.89467 15.5196 7.70714 15.7071C7.5196 15.8946 7.26525 16 7.00003 16C6.73481 16 6.48046 15.8946 6.29292 15.7071C6.10539 15.5196 6.00003 15.2652 6.00003 15V3.414L1.70703 7.707C1.5195 7.89447 1.26519 7.99979 1.00003 7.99979C0.734866 7.99979 0.480558 7.89447 0.293031 7.707Z" fill="currentColor" />
				</svg>
			</button>
			</div>
		</form>

    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="/js/chat.js"></script>
  </body>
</html>
